@import "tailwindcss";

:root {
	overscroll-behavior: none;
}

* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	height: 100%;
	background: linear-gradient(rgb(13, 191, 60), rgb(0, 0, 0));
	font-weight: bold;
	font-family: monospace;
	color: azure;
	padding: 0;
	margin: 0;
}

/* HEAD -------------------*/

header {
	margin-top: 1rem;
}

#profile-box {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#profile-photo {
	border-radius: 2.5rem;
	border: 2px solid rgb(3, 36, 6);
}

.head-break {
	border-bottom: 3px dashed black;
}

#profile-name {
	text-align: center;
	text-shadow: 1px 1px 2px white, 0 0 1em azure;
    font-size: 2rem;
}

/* BODY -------------------*/

.section {
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 0 1.5rem;
}
.section h2 {
	text-align: center;
}
.section p {
	text-align: center;
	max-width: 500px;
}

.section-break {
	margin: 0 auto;
	padding-top: 5%;
	width: 80%;
	border-bottom: 3px dashed rgb(2, 19, 0);
}


#section1 h2 {
	text-align: center;
	font-size: clamp(2rem, 3rem, 2rem);
}

.project {
	display: grid;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.project h3 {
	text-align: center;
	font-size: 1.5rem;
}

.project p {
	text-align: center;
	max-width: 30rem;
	padding: 0 1.5rem;
}

.project img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#section-project-separator {
	border-top: 2px solid black;
	width: 5rem;
	margin: 0 auto;
}

#bhesh-png {
	width: 20rem;
	height: 20rem;
	height: auto;
	aspect-ratio: 1 / 1;
	object-fit: contain;
}

/* FOOT -------------------*/

#contacts {
	width: 100%;
	border-top: 3px solid rgb(0, 0, 0);
	background-color: rgb(10, 14, 10);
	padding-bottom: clamp(1rem, 2rem, 1rem);
}

#contacts h2 {
	text-align: center;
}

#contact-row {
	display: flex;
	justify-content: center;
	justify-items: center;
}

.contact-column {
	width: 70px;
}

.contact-column a {
	display: flex;
	justify-content: center;
}

.contact-column a img {
	width: 40px;
}

/* RESPONSIVE -------------------*/

@media only screen and (min-width: 760px) {
	header {
		display: flex;
		justify-content: center;
		gap: 5%;
		padding-bottom: 1rem;
	}

	#sections {
		display: grid;
		justify-content: center;
	}

	.head-break {
		border-left: 5px dashed black;
	}

	.section-break {
		padding: 0;
		width: 100%;
	}

	#bhesh-png {
		width: 25rem;
	}

	@media only screen and (min-height: 900px) {
		.section-break {
			margin-bottom: 3rem;
		}

		#bhesh-png {
			width: 30rem;
		}
	}

	.section {
		text-align: center;

	}

	#contacts {
		position: fixed;
		bottom: 0;
	}

	.project {
		display: flex;
	}

	.project p {
		max-width: 20rem;
	}

	#section-project-separator {
		display: none;
	}

	#project-data-separator {
		width: 5rem;
		height: 20rem;
		border-left: 2px solid black;
	}
}